{{#> layout }}
    <div id="footer">
        <div>
            <div class="footer_line">
                <a class="" href="home">www.cargobull.com</a>
            </div>
            <div>
                <span>
                    © 2017 Schmitz Cargobull AG -
                </span>
                <a href="https://125-estonia.cargobull-events.com/imprint/">Imprint</a>
                |
                <a href="https://125-estonia.cargobull-events.com/data-protection/">Andmete kaitse</a>
            </div>
        </div>
    </div>
{{/layout}}