{{#> layout }}
        <div class="fullwidth bgblue">
            <div class="container-fluid footer-website">
                <a class="" href="home">www.cargobull.com</a>
            </div>
        </div>
        <div class="fullwidth bggrey">
            <div class="container-fluid footer-other">
                <span>
                    © 2017 Schmitz Cargobull AG -
                </span>
                <a href="https://125-estonia.cargobull-events.com/imprint/">Imprint</a>
                |
                <a href="https://125-estonia.cargobull-events.com/data-protection/">Andmete kaitse</a>
            </div>
        </div>
{{/layout}}