{{#> layout }}
    <div id="header">
        <img src={{cover}} alt="">
        <div>
            <div class="logo">
                <a class="" href="home"><img src="https://125-estonia.cargobull-events.com/wp-content/themes/ce125years/images/scb-125y-logo.png" alt="Schmitz Cargobull"></a>
            </div>
            <div class="navbar">
                <ul>
                    <li><a href="invitation">Invitation</a></li>
                    <li><a href="programme">Programme</a></li>
                    <li><a href="registration">Registration</a></li>
                    <li><a href="arrival">Arrival</a></li>
                </ul>
            </div>
        </div>
    </div>
{{/layout}}