{{#> layout }}
<nav class="navbar navbar-default" id="nav-margin">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand logo">
                <a class="" href="home"><img src="https://125-estonia.cargobull-events.com/wp-content/themes/ce125years/images/scb-125y-logo.png" alt="Schmitz Cargobull"></a>
            </div>

        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse bar" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="invitation">Invitation</a></li>
                <li><a href="programme">Programme</a></li>
                <li><a href="registration">Registration</a></li>
                <li><a href="arrival">Arrival</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>
{{/layout}}