<html>
<head>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    {{> header cover="https://125-estonia.cargobull-events.com/wp-content/uploads/sites/8/2017/07/key_visual_strassenschild.jpg"  }}
    <h1>Apie mus</h1>
    <script src="/js/app.js"></script>
</body>
</html>