<!DOCTYPE html>
<html>
{{> head }}
<body>
{{> header }}
<div>
    <div>
        <img class="home-img" alt="">
    </div>
</div>

<div class="fullwidth bottom bgblue">
    <div class="red-line"></div>
</div>
    <script src="app.js"></script>
</body>
</html>