<!DOCTYPE html>
<html>
{{> head }}
<body>
<div>
    <div>
        <img class="img-responsive" src="https://125-estonia.cargobull-events.com/wp-content/uploads/sites/8/2017/07/ce_125y-key_visual-komp-lg-test.jpg" alt="">
    </div>
</div>
{{> navigation }}
<div class="fullwidth padding-60 bgblue">
</div>
    <script src="/js/app.js"></script>
</body>
</html>