<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
<div>
    {{> header }}
    <div>
        <h1>Head kliendid ja koostööpartnerid,</h1>
        <p>
            Schmitz Cargobull on 125 aastat loonud põnevat edulugu, mis kestab tänaseni. Oleme alguse saanud väikesest töökojast Altenberges Saksamaal, millest on tänaseks arenenud Euroopa juhtiv haagisetootja. Selline areng on olnud võimalik tänu Teile, kallid Schmitz Cargobull kliendid!<br><br>

            Täname Teid panuse eest ning kutsume tähistama meie sünnipäeva.<br><br>

            22.09.2017 – Hilton Tallinn Park hotellis<br>
            algusega 19:00 kuni 01:00<br><br>

            Palun andke oma osalemissoovist teada hiljemalt kuupäevaks 03.09.2017 klikkides menüüribal registreerimine. Sealt leiate ka kõige värskema informatsiooni programmi kohta ning täpsed juhised saabumiseks.<br><br>

            Näeme juba peol!<br><br>

            Parimate soovidega,<br>
            Schmitz Cargobull Eesti OÜ<br><br>

            Alar Sõnitsar<br>
            Tegevjuht
        </p>
    </div>
    <div><img src="https://125-estonia.cargobull-events.com/wp-content/uploads/sites/8/2017/07/ballons-komp.png" alt=""></div>
    {{> footer }}
    <script src="/js/app.js"></script>
</body>
</html>