<html>
<head>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <div>
        {{> header cover=""  }}
        <div>
            <h1>Programm</h1>
            <p>
                125 Aastat Schmitz Cargobull – Soovime seda tähtpäeva tähistada koos Teiega. Ootame Teid põneva meelelahutus programmi, maitsvate suupistete ning värskendavate jookidega.<br><br>

                Registreeri hiljemalt 03.09.2017. Näeme juba peol.
            </p>
        </div>
        <div>
            <img src="https://125-estonia.cargobull-events.com/wp-content/uploads/sites/8/2017/07/Sekt-und-Elefant.jpg" alt="">
        </div>
        <div>
            <p>
                19:00<br>
                Külaliste saabumine, tervitusjoogid ning pilt fotoseina taustal<br><br>

                19:30<br>
                Schmitz Cargobull AG müügidirektor Boris Billich ja Schmitz Cargobull Eesti OÜ juhatuse liikmete Alar Sõnitsar’i ning Donatas Krasickas’e avasõnad.<br><br>

                19:45<br>
                Soe söök, akustiline taustamuusika Karl-Erik Taukarilt<br><br>

                20:30<br>
                Priit Piusi etteaste “Eesti Poliitikud”<br><br>

                21:15<br>
                Tantsuks mängib 2 Quick Start<br><br>
            </p>
        </div>
        {{> footer }}
    </div>
    <script src="/js/app.js"></script>
</body>
</html>