@import "variables";

.navbar {
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  float: right;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      a {
        display: block;
        padding: 20px 10px;
        color: $primaryColor;
        text-decoration: none;
        &:hover {
          color: blue;
        }
      }
    }
  }
}